<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExerciceServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>exerciceServlets.util.DatabaseListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>JeuServlet</display-name>
    <servlet-name>JeuServlet</servlet-name>
    <servlet-class>exerciceServlets.servlet.JeuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuServlet</servlet-name>
    <url-pattern>/JeuServlet/*</url-pattern>
    <url-pattern>/JeuServlet</url-pattern>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeServlet</display-name>
    <servlet-name>SupprimeServlet</servlet-name>
    <servlet-class>exerciceServlets.servlet.SupprimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeServlet</servlet-name>
    <url-pattern>/SupprimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlateformeServlet</display-name>
    <servlet-name>PlateformeServlet</servlet-name>
    <servlet-class>exerciceServlets.servlet.PlateformeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlateformeServlet</servlet-name>

    <url-pattern>/PlateformeServlet</url-pattern>
	    <url-pattern>/PlateformeServlet/*</url-pattern>
  </servlet-mapping>
</web-app>