

<!--////////////////////BOUTON////////////////////////////////////-->
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a routerLink='/edit/0' class='btn btn-primary shadow  rounded'>Création</a>
    </div>
</div>
<br>

<!--////////////////////TABLEAU////////////////////////////////////-->
<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table table-hover shadow  rounded">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Duree</th>
                    <th scope="col">Date Sortie</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of films.content"> <!---| async-->
                    <td>{{f.id}}</td>
                    <td>{{f.nom}}</td>
                    <td>{{f.duree}}</td>
                    <td>{{f.dateSortie | date : 'medium'}}</td>
                    <td>
                        <a routerLink='/edit/{{f.id}}' class='btn btn-warning shadow  rounded'>Edition</a>
                        <button (click)="effacerFilm(f.id)" class="btn btn-danger shadow  rounded ml-3">Suppression</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!--////////////////////PAGINATION////////////////////////////////////-->
<div class="row">
    
    <div class="col-md offset-md-4 ">
        <!-- [] = code vers la page HTML ;  (pageChanged) = du HTML vers le code -->
            <pagination [boundaryLinks]="true" 
                        [totalItems]="totalItems" 
                        [itemsPerPage]="taillePage" 
                        [ngModel]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>