<div class="row mt-4">
    <div class="col-sm-4 my-drop-zone text-white"
         (fileOver)="fileOverDrop($event)"
         [uploader]="uploader"
         [ngClass]="{'file-over' : hasBaseDropZoneOver}"
         ng2FileDrop >
       Ajouter votre image!!
    </div>
    <div class="col-sm-7">
        <div class="row mt-2" *ngFor="let item of uploader.queue">

            <progressbar class="progress-striped active" [value]="item.progress">
                    {{item?.file?.name}} - {{item?.progress}}%
            </progressbar>
        </div>
    </div>
        
</div>

