<div class="row mt-5" *ngIf="editPicture">
    <div class="col-sm-6">
            <img [src]="getImageUrl(editPicture.id)" class="card-img-top shadow rounded" />
    </div>
    <div class="col-sm-6">
        <table  class="table table-bordered shadow rounded">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Détail</th>
                </tr>
            </thead>
            <tr>
                <td>Filename </td>
                <td>{{editPicture.fileName}}</td>
            </tr>
            <tr>
                <td>Content type </td>
                <td>{{editPicture.contentType}}</td>
            </tr>
            <tr>
                <td>Date ajout </td>
                <td>{{editPicture.dateAdded}}</td>
            </tr>
            <tr>
                <td for="titre">Titre image</td>
                <td> <input type="text"  class="form-control" name="titre" [(ngModel)]="editPicture.titre"/></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <p style="font-size: 0.7em">Vous pouvez modifier votre titre!!!!</p>
            </div>
            <div class="col-sm-4 offset-sm-2">
                <a routerLink='/images' class="btn btn-primary shadow rounded ml-2" >Retour</a>
                <button type="submit" (click)="savePicture()" class="btn btn-warning shadow rounded ml-2" >Modifier</button>
            </div>                  
        </div>

        <!--<form>
            <div class="form-group">
                <label for="titre"><b>Titre image</b></label>
                <input type="text"  class="form-control" name="titre" [(ngModel)]="editPicture.titre"/>
            </div>
            <button type="submit" (click)="savePicture()" class="btn btn-warning " >Modifier</button>
        </form>-->
        
    </div>
</div>
